In [38]:
import pandas as pd
%matplotlib notebook
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
from textblob import TextBlob

filename = "data/reviews_full.csv"
reviews_df = pd.read_csv(filename)
reviews_df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,38585,129120,2010-10-28,55877,Ritchie,Evelyne is an accommodating host who lives in ...
1,38585,147273,2010-11-30,279973,Cathy,Evelyne was very welcoming to her home; my fri...
2,38585,198797,2011-03-14,411638,NaN,I really enjoyed Evelyne's welcoming and bubbl...
3,38585,201932,2011-03-17,441855,Bill,Very gracious host and was helpful in all aspe...
4,38585,341616,2011-06-28,657560,Joakim,Evelyn was very friendly and easy to comunicat...

In [39]:
def get_sentiment(review):
    blob = TextBlob(review)
    sentence_sentiments = [sentence.sentiment.polarity for sentence in blob.sentences]
    sentiments_no_neutral = [sentiment for sentiment in sentence_sentiments if sentiment]
    return sum(sentiments_no_neutral);

In [41]:
reviews_df = reviews_df[reviews_df["comments"].map(type) == str]

In [ ]:
reviews_df["sentiments"] = reviews_df[reviews_df["comments"].map(get_sentiment)]

In [ ]:
reviews_df.head()